@import "tailwindcss";

@theme {
    --font-orbitron: "Orbitron", sans-serif;
    --font-rajdhani: "Rajdhani", sans-serif;
    --font-inter: "Inter", sans-serif;

    --color-neonBlue: #00f3ff;
    --color-neonPurple: #bc13fe;
    --color-neonOrange: #ff9e00;
    --color-deepSpace: #050510;

    --animate-spin-slow: spin 4s linear infinite;
    --animate-flash-border: flash-border 1.2s ease-in-out infinite;

    @keyframes flash-border {

        0%,
        100% {
            border-color: rgba(188, 19, 254, 0.3);
            box-shadow: 0 0 5px rgba(188, 19, 254, 0.1);
        }

        50% {
            border-color: rgba(188, 19, 254, 0.8);
            box-shadow: 0 0 15px rgba(188, 19, 254, 0.4);
        }
    }

    --breakpoint-xs: 475px;
}

/* Custom Utilities for Glow Effects */
@utility neon-shadow-purple {
    box-shadow: 0 0 20px -5px rgba(188, 19, 254, 0.4);
}

@utility neon-glow-text {
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.3);
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #050510;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
}